.advantages {
  padding: 0 20px;

  @include tablet {
    padding: 0;
  }
}

.advantages__list {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 111px 0 60px;

  @include tablet {
    padding: 54px 25px 40px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 38px 15px;
    gap: 20px;
  }

  @include IE {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding: 39px 42px 68px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  color: #00b2ff;
  min-height: 300px;

  &:hover {
    color: #ffffff;
    background-color: #00b2ff;
    transition: 0.3s;

    p {
      color: #ffffff;
    }
  }

  @include tablet {
    min-height: 235px;
    padding: 24px 20px 25px 25px;
  }

  @include mobile {
    padding: 24px 13px 31px 23px;
  }

  @include IE {
    width: calc((100% - 30px) / 2);

    &:nth-child(2n-1) {
      margin-right: 30px;
    }

    &:nth-child(n+3) {
      margin-top: 30px;
    }

    @include mobile {
      width: 100%;

      &:nth-child(2n-1) {
        margin-right: 0;
      }

      &:nth-child(n+1) {
        margin-top: 20px;
      }
    }
  }
}

.advantages__icon {
  fill: currentColor;
}

.advantages__item h3 {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  font-family: $normal;
  font-size: 24px;
  font-weight: 400;

  @include tablet {
    margin-top: 11px;
  }

  @include mobile {
    margin-top: 14px;
    font-size: 20px;
    padding-right: 17px;
  }
}

.advantages__item p {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  font-family: $mono;
  font-size: 16px;
  line-height: 1.34;
  color: #666666;

  @include tablet {
    margin-top: 13px;
    line-height: 1.37;
  }
}
