.advantages__list {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 112px 0 60px;

  @include tablet {
    padding: 54px 25px 40px;
  }
}

.advantages__item {
  box-sizing: border-box;
  padding: 40px 45px 70px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-left: 3px solid #00b2ff;
  color: #00b2ff;
  min-height: 300px;

  &:hover {
    color: #ffffff;
    background-color: #00b2ff;

    .advantages__description {
      color: #ffffff;
    }
  }

  @include tablet {
    min-height: 235px;
    padding: 25px;
  }
}

.advantages__icon {
  fill: currentColor;
}

.advantages__title {
  margin-top: 23px;
  font-family: $normal;
  font-size: 24px;

  @include tablet {
    margin-top: 12px;
  }
}

.advantages__description {
  margin-top: 15px;
  font-family: $mono;
  font-size: 16px;
  line-height: 1.34;
  color: #666666;
}
