.footer__container {
  margin: 0 auto;
  box-sizing: border-box;
  width: calc(100% - 40px);
  max-width: 1410px;
  padding-top: 64px;
  display: flex;
  flex-wrap: wrap;

  @include tablet {
    margin: 0;
    padding: 0 25px;
    display: block;
    width: 100%;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.footer__logo-and-socio-wrap {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet {
    position: relative;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 25px;
    margin: 0;

    // &::after {
    //   position: absolute;
    //   bottom: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: 100vw;
    //   height: 1px;
    //   content: "";
    //   background-color: #626962;
    //   opacity: 0.2;
    // }
  }

  @include mobile {
    padding: 46px 0 54px;
    flex-direction: column;
  }
}

.footer__copyright {
  display: none;

  @include tablet {
    display: block;
    font-family: $mono;
    font-size: 13px;
    color: #1b2d37;
    opacity: 0.5;
    text-transform: uppercase;
  }

  @include mobile {
    margin-top: 26px;
  }
}

.footer__socio-list {
  @include mobile {
    margin-top: 32px;
  }
}

.footer__site-map-and-contacts-wrap {
  margin-left: auto;
  display: flex;
  flex-grow: 0.5;
  justify-content: space-between;

  @include tablet {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin: 0 0 36px;

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      height: 1px;
      content: "";
      background-color: #626962;
      opacity: 0.2;
    }
  }

  @include mobile {
    display: block;
    margin: 0;

    &::after {
      display: none;
    }
  }
}

.footer__privacy {
  position: relative;
  width: 100%;
  margin-top: 70px;

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    content: "";
    background-color: #626962;
    opacity: 0.2;
  }

  @include tablet {
    margin-top: 0;
  }
}
