.greeting {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 20px;
  background-color: #1b2d37;
  background-image: url("../img/bg@1x.png");

  background-repeat: no-repeat;
  background-position: 50% 0;

  background-size: 1920px 878px;

  @include tablet {
    background-image:
      url("../img/board-tablet@1x.png"),
      url("../img/bg-greeting-triangles.svg"),
      url("../img/bg@1x.png");
    padding: 0 88px;
    background-position:
      510px 112px,
      456px 82px,
      50% 0;

    background-size:
      465px 340px,
      480px auto,
      1920px 878px;
  }

  @include mobile {
    padding: 0 15px;

    background-image:
      url("../img/board-mobile@1x.png"),
      url("../img/bg-greeting-triangles.svg"),
      url("../img/bg-mobile@1x.png");

    background-position:
      right -7px top 92px,
      right -307px top 70px,
      50% 0;

    background-size:
      300px 220px,
      460px auto,
      auto 100%;
  }

  @include retina {
    background-image: url("../img/bg@2x.png");

    @include tablet {
      background-image:
        url("../img/board-tablet@2x.png"),
        url("../img/bg-greeting-triangles.svg"),
        url("../img/bg@2x.png");
    }

    @include mobile {
      background-image:
        url("../img/board-mobile@2x.png"),
        url("../img/bg-greeting-triangles.svg"),
        url("../img/bg-mobile@2x.png");
    }
  }
}

.greeting__container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 1420px;
  padding: 315px 0 74px;
  margin: 0 auto;

  &::after {
    position: absolute;
    top: 258px;
    left: 790px;
    content: "";
    width: 705px;
    height: 515px;
    background-image:
      url("../img/board-desktop@1x.png"),
      url("../img/bg-greeting-triangles.svg");

    background-repeat: no-repeat;
    background-position:
      0 0,
      15px 15px;
    background-size:
      705px 515px,
      auto 95%;
  }

  @include tablet {
    padding: 188px 0 164px;

    &::after {
      display: none;
    }
  }

  @include mobile {
    padding: 286px 0 70px;
  }

  @include retina {
    &::after {
      background-image:
        url("../img/board-desktop@2x.png"),
        url("../img/bg-greeting-triangles.svg");
    }
  }
}

.greeting__content-wrap {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 720px;
  margin-right: auto;

  @include tablet {
    max-width: 430px;
  }

  @include mobile {
    max-width: none;
  }
}

.greeting__title {
  margin: 0;
  padding: 0;
  font-family: $bold;
  font-weight: 700;
  font-size: 80px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.07em;

  @include tablet {
    font-size: 60px;
    line-height: 1.17;
  }

  @include mobile {
    font-size: 40px;
  }

  @include IE {
    @include tablet {
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.greeting__subtitle {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 30px;
  font-family: $mono;
  font-size: 22px;
  color: #ffffff;
  text-transform: lowercase;
  padding-left: 96px;
  line-height: 1.55;

  &::before {
    position: absolute;
    top: 0.75em;
    left: 0;
    content: "";
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }

  @include tablet {
    font-size: 18px;
    padding-left: 50px;

    &::before {
      width: 33px;
    }
  }

  @include mobile {
    font-size: 16px;
  }

  @include IE {
    box-sizing: border-box;
    width: 100%;
  }
}

.greeting__consultation {
  margin-top: 44px;
  margin-left: 96px;
  padding: 18px 46px;
  font-family: $bold;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
  background-color: #00b2ff;

  &:hover {
    background-color: #ffffff;
    color: #00b2ff;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    margin-top: 56px;
    margin-left: 50px;
    padding: 18px 31px;
  }

  @include mobile {
    margin-top: 42px;
    margin-left: 0;
    align-self: center;
  }
}

.greeting__consultation-desktop-text {
  @include mobile {
    display: none;
  }
}

.greeting__consultation-mobile-text {
  display: none;

  @include mobile {
    display: inline;
  }
}

.greeting__scroll {
  margin-top: 186px;
  margin-left: 2px;
  font-family: $mono;
  font-size: 14px;
  color: #ffffff;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  opacity: 0.5;

  &:hover {
    color: #00b2ff;
    opacity: 1;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    display: none;
  }
}
