.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1410px;
  padding: 30px 0;

  @include tablet {
    width: 100%;
    padding: 20px 25px;
  }

  @include mobile {
    padding: 17px;
  }
}

.header__logo {
  margin-right: 120px;
  margin-top: 3px;

  @include tablet {
    margin-right: auto;
    margin-top: 0;
  }
}

.header__contacts {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: auto;

  @include tablet {
    margin-left: 36px;
    margin-top: 10px;
    align-self: flex-start;
  }

  @include mobile {
    margin-left: 16px;
    margin-top: 4px;
  }
}

.header__contacts-item {
  position: relative;

  &:not(:first-child) {
    margin-left: 123px;
  }

  a {
    font-family: $mono;
    font-size: 16px;
    color: #ffffff;

    &:hover {
      color: #00b2ff;
    }

    &:active {
      opacity: 0.6;
    }
  }

  a::before {
    position: absolute;
    top: 50%;
    left: -34px;
    transform: translateY(-50%);
    content: "";
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--email a::before {
    background-image: url("../img/envelope.svg");
  }

  &--phone a::before {
    background-image: url("../img/phone.svg");
  }

  @include tablet {
    &:not(:first-child) {
      margin-left: 31px;
    }

    a {
      font-size: 0;
      display: block;
      width: 26px;
      height: 26px;
    }

    a::before {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 26px;
      height: 26px;
      pointer-events: none;
    }
  }

  @include mobile {
    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  @include IE {
    a::before {
      background-position: 0 0;
    }
  }
}

.header__call {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px 27px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 48px;
  text-transform: uppercase;
  font-family: $bold;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;

  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
    transition: 0.3s;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    display: none;
  }
}
