.logo {
  display: flex;
  align-items: center;

  &--dark {
    .logo__text-title {
      color: #203c42;
    }
  }

  &--light {
    .logo__img {
      @include mobile {
        width: 38px;
        height: 38px;
      }
    }

    .logo__text-wrap {
      @include mobile {
        @include visually-hidden;
      }
    }
  }
}

.logo__img {
  margin-right: 16px;
}

.logo__text-wrap {
  display: flex;
  flex-direction: column;
}

.logo__text-title {
  color: #ffffff;
  font-family: $bold;
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.logo__text-subtitle {
  color: #788891;
  font-family: $regular;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
