.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 16px;

  @include mobile {
    width: 38px;
    height: 38px;
  }
}

.logo__text-wrap {
  display: flex;
  flex-direction: column;

  @include mobile {
    @include visually-hidden;
  }
}

.logo__text-title {
  color: #ffffff;
  font-family: $bold;
  font-size: 25px;
}

.logo__text-subtitle {
  color: #788891;
  font-family: $regular;
  font-size: 12px;
}
