.privacy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 14px 0;
  font-family: $mono;
  font-size: 13px;
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 22px 0;
  }

  @include mobile {
    padding: 26px 0;
    flex-direction: column;
  }
}

.privacy__copyright {
  display: flex;
  justify-content: space-between;

  @include tablet {
    display: none;
  }
}

.privacy__terms {
  margin: 0 auto;

  @include tablet {
    margin: 0;
  }

  @include mobile {
    margin-bottom: 20px;
  }
}

.privacy__developers {
  margin-left: auto;

  @include tablet {
    margin: 0;
  }
}
