.privacy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 14px 0;
  font-family: $mono;
  font-size: 13px;
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;
}

.privacy__copyright {
  display: flex;
  justify-content: space-between;
}

.privacy__terms {
  margin: 0 auto;
}

.privacy__developers {
  margin-left: auto;
}
