.privacy {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 19px 5px;
  font-family: $mono;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #1b2d37;
  opacity: 0.5;
  text-transform: uppercase;

  @include tablet {
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
  }

  @include mobile {
    padding: 34px 0;
    flex-direction: column;
  }

  @include IE {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.privacy__copyright {
  display: flex;
  justify-content: space-between;
  padding-left: -3px;
  padding-right: 15px;

  @include tablet {
    display: none;
  }

  @include IE {
    width: 33.33%;
  }
}

.privacy__copyright p {
  margin: 0;
  padding: 0;
}

.privacy__terms {
  margin: 0 auto;

  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
    transition: 0.1s;
    font-weight: bold;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    margin: 0;
  }

  @include mobile {
    margin-bottom: 30px;
  }
}

.privacy__developers {
  margin-left: auto;

  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
    transition: 0.1s;
    font-weight: bold;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    margin: 0;
  }

  @include IE {
    @include tablet {
      margin-left: auto;
    }

    @include mobile {
      margin-left: 0;
    }
  }
}
