.services {
  background-color: #1b2d37;
  color: #ffffff;
  padding: 0 20px;

  @include tablet {
    padding: 0;
  }
}

.services__container {
  box-sizing: border-box;
  max-width: 1170px;
  margin: 0 auto;
  padding: 92px 0 126px;

  @include tablet {
    padding: 52px 25px 78px;
  }

  @include mobile {
    padding: 48px 15px 64px;
  }
}

.services__title {
  margin: 0;
  padding: 0;
  font-family: $normal;
  font-weight: 400;
  font-size: 36px;

  @include tablet {
    font-size: 32px;
    line-height: 1.41;
  }

  @include mobile {
    font-size: 28px;
    padding-left: 10px;
  }
}

.services__list {
  margin: 0;
  margin-top: 57px;

  @include tablet {
    margin-top: 49px;
  }

  @include mobile {
    margin-top: 42px;
  }
}
