.service-cards {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  @include tablet {
    grid-template-columns: 1fr;
    gap: 45px;
  }
}

.service-cards__item {
  position: relative;
  display: flex;
  min-height: 620px;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.2;
    pointer-events: none;
  }

  &--board {
    &::before {
      background-image: url("../img/services-board-desktop@1x.png");
    }
  }

  &--chipset {
    &::before {
      background-image: url("../img/services-chipset-desktop@1x.png");
    }
  }

  &--tape {
    &::before {
      background-image: url("../img/services-tape-desktop@1x.png");
    }
  }

  @include tablet {
    min-height: 256px;

    &::before {
      background-size: cover;
    }

    &--board {
      &::before {
        background-image: url("../img/services-board-tablet@1x.png");
      }
    }

    &--chipset {
      &::before {
        background-image: url("../img/services-chipset-tablet@1x.png");
      }
    }

    &--tape {
      &::before {
        background-image: url("../img/services-tape-tablet@1x.png");
      }
    }
  }
}

.service-cards a {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 55px 65px 65px 45px;
  display: block;

  &::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 64px;
    height: 64px;
    background-color: #00b2ff;
  }

  &::after {
    position: absolute;
    bottom: 30px;
    right: 30px;
    content: "";
    width: 6px;
    height: 6px;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform-origin: center;
    transform: rotate(-45deg);
  }
}

.service-cards__title {
  display: block;
  width: 155px;
  font-family: $normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}
