.socio {
  display: grid;
  grid-template-columns: repeat(5, 27px);
  column-gap: 16px;
  row-gap: 6px;

  @include tablet {
    display: flex;
  }

  @include IE {
    display: flex;
  }
}

.socio__item {
  position: relative;

  a {
    display: block;
    width: 27px;
    height: 27px;
    font-size: 0;
    border-radius: 50%;
    color: #cdcdcd;

    &:hover {
      color: #00b2ff;
    }
  }

  svg {
    width: 27px;
    height: 27px;
    pointer-events: none;
    fill: currentColor;
  }

  @include IE {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
